<div class="container">
  <mat-card class="card " style="min-height: 50vh">
    <mat-card-title class="content p-b-md">
      <i class="far fa-check-circle"  style="color: green; font-size: 60px"></i>
    </mat-card-title>
    <mat-card-content class="content p-b-md">
      <p style="font-size: xx-large">Thanks a bunch for filling that out!</p>
    </mat-card-content>
    <div class="content">
      <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">New survey</button>
    </div>
  </mat-card>
</div>

